.transaction {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid #30313d;
}

.transaction:first-child {
  border-top: none;
}

.transaction .name {
  font-size: 20px;
}

.transaction .description,
.transaction .datetime {
  font-size: 14px;
  color: #888;
}

.transaction .right {
  text-align: right;
}

.transaction .right .delete-button {
  cursor: pointer;
  display: flex;
  justify-self: right;
  align-items: center;
}

.transaction .price.--green {
  color: #1c1;
}

.transaction .price.--red {
  color: #c11;
}
